body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #22465e;
}

body {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.register {
    width: 600px;
    margin: 0 auto;
}

.register fieldset legend {
    font-size: 22px;
}


.register fieldset input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px 0;
    border: 1px solid #CCC;
}

.register fieldset input:last-child {
    margin: 20px 0;
    border: 0;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    cursor: pointer;
    background-color: #5093E3;
    color: #FFFFFF;
}

.error {
    border: 1px solid #FF0004 !important;
}


.incorrect {
    border: 1px solid #e6e3ff;
}

.correct {
    border: 1px solid #5093E3;
}
